* {
  box-sizing: border-box;
  background-color: white;
  color: darkred;
};

body {
  background: gold;
  color: darkred;
  overflow: scroll;
}

#header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#header > h1 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#quiz-area {
  background: white;
  color: darkred;
  text-align: center;
}

#sub-wrapper {
  color: darkred;
  text-align: center;
  margin: 20px;
}

#start {
  background: darkred;
  color: gold;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

#done {
  clear: left;
  color: gold;
  background: darkred;
  margin: 30px;
  padding: 30px;
}

#questions {
  margin: 0 10px 0 0;
}

#answers {
  margin: 0 0 0 10px;
}

#flash-photo {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 600px;
  height: auto;
}