* {
  box-sizing: border-box;
};

body {
  background: gold;
  color: darkred;
}

.jumbotron {
  background: gold;
  color: darkred;
}

#quiz-area {
  background: gold;
}

#start {
  background: darkred;
  color: gold;
  padding: 20px;
  margin: 0 auto;
}